doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title ESSEC
    link(rel="stylesheet", href="lib/css-awesome/all.min.css")
    link(rel="stylesheet", href="lib/css-awesome/brands.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body

    main.earnings
      h1.earnings__title Выберите способ заработка
        ul.earnings__list
          li.earnings__item.earning-way
            button.earning-way__tabs(type = 'button')
              h2.earning-way__title Tорговать
            .earning-way__wrap
              p.earning-way__desc Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
              h3.earning-way__work-title Как это работает
              ol.earning-way__work-list
                li.earning-way__work-item Вы выбираете управляющего из рейтинга по фильтру Options
                li.earning-way__work-item Подключаете свой счет к счету Управляющего
                li.earning-way__work-item На вашем счете начинается копирование сделок
                li.earning-way__work-item Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
                li.earning-way__work-item Вы можете подключиться к нескольким Управляющим одновременно.
                li.earning-way__work-item Вы можете отключиться от Управляющих в любой момент.
              button.earning-way__open-cash(type = 'button') Открыть счет
            .earning-way__media-wrap
              img(src="#", alt="обложка для видео")
              <video width="400" height="300" controls="controls" poster="#"> Элемент video не поддерживается вашим браузером.
                <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          li.earnings__item.earning-way
            button.earning-way__tabs(type = 'button')
              h2.earning-way__title Инвестировать
            .earning-way__wrap
              p.earning-way__desc Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
              h3.earning-way__work-title Как это работает
              ol.earning-way__work-list
                li.earning-way__work-item Вы выбираете управляющего из рейтинга по фильтру Options
                li.earning-way__work-item Подключаете свой счет к счету Управляющего
                li.earning-way__work-item На вашем счете начинается копирование сделок
                li.earning-way__work-item Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
                li.earning-way__work-item Вы можете подключиться к нескольким Управляющим одновременно.
                li.earning-way__work-item Вы можете отключиться от Управляющих в любой момент.
              button.earning-way__open-cash(type = 'button') Открыть счет
            .earning-way__media-wrap
              img(src="#", alt="обложка для видео")
              <video width="400" height="300" controls="controls" poster="#"> Элемент video не поддерживается вашим браузером.
                <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          li.earnings__item.earning-way
            button.earning-way__tabs(type = 'button')
              h2.earning-way__title Привлекать инвесторов
            .earning-way__wrap
              p.earning-way__desc Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
              h3.earning-way__work-title Как это работает
              ol.earning-way__work-list
                li.earning-way__work-item Вы выбираете управляющего из рейтинга по фильтру Options
                li.earning-way__work-item Подключаете свой счет к счету Управляющего
                li.earning-way__work-item На вашем счете начинается копирование сделок
                li.earning-way__work-item Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
                li.earning-way__work-item Вы можете подключиться к нескольким Управляющим одновременно.
                li.earning-way__work-item Вы можете отключиться от Управляющих в любой момент.
              button.earning-way__open-cash(type = 'button') Открыть счет
            .earning-way__media-wrap
              img(src="#", alt="обложка для видео")
              <video width="400" height="300" controls="controls" poster="#"> Элемент video не поддерживается вашим браузером.
                <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>

    script(src="js/polyfill.min.js")
    script(src="js/script.js" defer)
    
