@mixin text ($size:16px, $line:20px) {
  margin: 0;
  padding: 0;
  color: #1c1c1c;
  font-family: $font;
  font-size: $size;
  font-weight: 300;
  line-height: $line;
  @media (min-width: $desktop-width) {
    font-size: 18px
  }
}