$font: "PF DinText Pro", sans-serif;
$mobile-width: 320px;
$tablet-width: 700px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$green: #009e82;
$white: #ffffff;
$white-btn: #fafaf0;
$bg: #f3f2da;
